<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iphone</title>
    <link rel="stylesheet" href="../css/phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav>
        <div class="menu">
            <div class="logo">
              <!-- <img src="Masud.png" alt="">  -->
                <a href="#"><span>MM </span>Online Shop</a>
            </div>
            <ul id="menuList">
                <li><a href="../index.html">Home</a></li>
                <li><a href="./watch.html">Apple Watch</a></li>
                <li><a href="./phone.html">iPHone</a></li>
                <li><a href="./head.html">Head Phone</a></li>
                <li><a href="./service.html">Our Service</a></li>
                <li><a href="./login.html">Account</a></li>
                
            </ul>
        </div>
        <div class="menu-icon">
            <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
        </div>
    </nav>
    <div class="img"></div>
    <script>
        let menuList = document.getElementById("menuList")
        menuList.style.maxHeight = "0px";

        function toggleMenu(){
            if(menuList.style.maxHeight == "0px")
            {
                menuList.style.maxHeight = "300px";
            }
            else{
                menuList.style.maxHeight = "0px";
            }
        }
        
    </script>
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>


<br><br>
<br>
<div class="whice">
    <h1>Which iPhone Should I Get?</h1>
    <img src="#" alt="">
    <h5>If you have an iPhone that you’re happy with, keep it. We don’t think you should upgrade just because Apple has released new phones.

        But if your current phone is running too slowly or is damaged, or if you’re simply ready for an upgrade and you want a new phone now, we recommend the Apple iPhone 16. It offers an almost Pro-like iPhone experience, with new shortcut buttons, excellent cameras, lengthy battery life, and a powerful processor. Just don’t expect artificial intelligence—yet.
    </h5>
</div>




<div class="gallery">
    <div class="content">
        <img src="../image/Phone123.png" alt="">
        <h3>Apple iPhone 12</h3>
        <p>This is a review of the new iPhone 12. I’m going to make this as straightforward as possible,
             so you can get back to the other things you need to do, whether that’s working,</p>
             <h6>$1000</h6>
             <ul class="ul">
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
             </ul>
             <button class="buy-1">BUY NOW</button>
    </div>
    <div class="content">
        <img src="../image/Phone13.png" alt="">
        <h3>Apple iPhone 13</h3>
        <p>This is a review of the new iPhone 12. I’m going to make this as straightforward as possible,
             so you can get back to the other things you need to do, whether that’s working,</p>
             <h6>$1000</h6>
             <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
             </ul>
             <button class="buy-2">BUY NOW</button>
    </div>
    <div class="content">
        <img src="../image/phone14 pro.png" alt="">
        <h3>Apple iPhone 14</h3>
        <p>This is a review of the new iPhone 12. I’m going to make this as straightforward as possible,
             so you can get back to the other things you need to do, whether that’s working,</p>
             <h6>$1000</h6>
             <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
             </ul>
             <button class="buy-3">BUY NOW</button>
    </div>
    <div class="content">
        <img src="../image/Phone123.png" alt="">
        <h3>Apple iPhone 15 pro</h3>
        <p>This is a review of the new iPhone 12. I’m going to make this as straightforward as possible,
             so you can get back to the other things you need to do, whether that’s working,</p>
             <h6>$1000</h6>
             <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
             </ul>
             <button class="buy-4">BUY NOW</button>
    </div>
    <div class="content">
        <img src="../image/Phone123.png" alt="">
        <h3>Apple iPhone 15 Pro-max </h3>
        <p>This is a review of the new iPhone 12. I’m going to make this as straightforward as possible,
             so you can get back to the other things you need to do, whether that’s working,</p>
             <h6>$1000</h6>
             <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
             </ul>
             <button class="buy-5">BUY NOW</button>
    </div>
    <div class="content">
        <img src="../image/Phone123.png" alt="">
        <h3>Apple iPhone 16 Pro</h3>
        <p>This is a review of the new iPhone 12. I’m going to make this as straightforward as possible,
             so you can get back to the other things you need to do, whether that’s working,</p>
             <h6>$1000</h6>
             <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
             </ul>
             <button class="buy-6">BUY NOW</button>
    </div>






</div>



<!-- footer start -->
<footer class="footer">
    <div class="social">
        <a href="#"><i class='bx bxl-facebook-circle'></i></a>
        <a href="#"><i class='bx bxl-linkedin'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-whatsapp'></i></a>
    </div>
    <ul class="list">
        <li>
            <a href="#">FAQ</a>
        </li>
        <li>
            <a href="#">Service</a>
        </li>
        <li>
            <a href="#">Contact Us</a>
        </li>
        <li>
            <a href="#">About US </a>
        </li>
        <li>
            <a href="#">Privecy Policy</a>
        </li>
    </ul>
    <p class="copyright"> @2024  Masud All Right Reserved </p>
</footer>
<!-- 
    footer end -->




    
</body>
</html>