<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Service</title>
    <link rel="stylesheet" href="/css/service.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <nav>
        <div class="menu">
            <div class="logo">
              <!-- <img src="Masud.png" alt="">  -->
                <a href="#"><span>MM </span>Online Shop</a>

            </div>
            <ul id="menuList">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/views/watch.html">Apple Watch</a></li>
                <li><a href="/views/phone.html">iPHone</a></li>
                <li><a href="/views/head.html">Head Phone</a></li>
                <li><a href="/views/service.html">Our Service</a></li>
                <li><a href="/views/login.html">Account</a></li>
                
                
            </ul>
        </div>
        <div class="menu-icon">
            <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
        </div>
    </nav>
    <div class="img"></div>
    <script>
        let menuList = document.getElementById("menuList")
        menuList.style.maxHeight = "0px";

        function toggleMenu(){
            if(menuList.style.maxHeight == "0px")
            {
                menuList.style.maxHeight = "300px";
            }
            else{
                menuList.style.maxHeight = "0px";
            }
        }
        
    </script>
    <script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>

<br>
<!-- our service start -->
 <div class="warpper">
    <h1>Our Services</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi libero labore praesentium, odio expedita neque.
         Incidunt a culpa dolorem, ipsa dolor iusto autem modi vitae enim possimus eligendi quas molestias.</p>

         <div class="content-box">
            <div class="card">
                <i class="bx bx-bar-chart-alt bx-md"></i>
                <h2>Proudct Anylaize </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates, necessitatibus architecto a cumque neque quis
                     reiciendis illum quo quam molestias laborum mollitia eius doloremque, ipsam libero natus rem dignissimos?</p>
            </div>

            <div class="card">
                <i class="bx bx-laptop bx-md"></i>
                <h2>Online Service</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates, necessitatibus architecto a cumque neque quis
                     reiciendis illum quo quam molestias laborum mollitia eius doloremque, ipsam libero natus rem dignissimos?</p>
            </div>

            <div class="card">
                <i class="bx bx-line-chart bx-md"></i>
                <h2>24/7 Call Service</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates, necessitatibus architecto a cumque neque quis
                     reiciendis illum quo quam molestias laborum mollitia eius doloremque, ipsam libero natus rem dignissimos?</p>
            </div>

            <div class="card">
                <i class="bx bx-mail-send bx-md"></i>
             
                <h2>Fast delivary</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates, necessitatibus architecto a cumque neque quis
                     reiciendis illum quo quam molestias laborum mollitia eius doloremque, ipsam libero natus rem dignissimos?</p>
            </div>
            <div class="card">
                <i class="bx bx-bar-chart-alt bx-md"></i>
                <h2>Exchange</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates, necessitatibus architecto a cumque neque quis
                     reiciendis illum quo quam molestias laborum mollitia eius doloremque, ipsam libero natus rem dignissimos?</p>
            </div>
            <div class="card">
                <i class="bx bx-paint bx-md"></i>
                <h2>All Time Support</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptates, necessitatibus architecto a cumque neque quis
                     reiciendis illum quo quam molestias laborum mollitia eius doloremque, ipsam libero natus rem dignissimos?</p>
            </div>





         </div>
 </div>



 <!-- our service start -->

         <!-- contact me start -->
         <section class="contact-form">
            <h2 class="contact-me">Contact <span> Me  </span></h2>
            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="Enter Your Name">
                    <input type="email" placeholder="Enter your Email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Enter Your valid Number">
                    <input type="text" placeholder="Subject">
                </div>
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="submit" value="Send Message" class="btn-1">
            </form>
    
        </section>
        <!-- contact me end -->

        <!-- footer start -->
        <footer class="footer">
            <div class="social">
                <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-whatsapp'></i></a>
            </div>
            <ul class="list">
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#">Service</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">About US </a>
                </li>
                <li>
                    <a href="#">Privecy Policy</a>
                </li>
            </ul>
            <p class="copyright"> @2024  Masud All Right Reserved </p>
        </footer>
<!-- 
            footer end -->












</body>
</html>